.forgot_password_container {
    width: 80%;
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.forgot_password_container h1 {
    font-size: 1.6rem;
    margin: 25px 0;
}