.login_container {
    width: 80%;
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.login_container h1  {
    font-size: 1.6rem;
    margin: 25px 0;
}

.error {
    width: 80%;
    margin: 10px auto;
    color: red;
    font-size: 1rem;
}

.signup, .forgot_pass {
    margin: 25px 0 25px auto;
    font-size: 1rem;
}

.signup a, .forgot_pass a {
    margin: 25px 0;
    color: rgb(94, 123, 255);
}

.google_oauth {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: fit-content;
    background-color: #fff;
}

.google_oauth button {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 10px;
    margin: 0 25px 25px;
    cursor: pointer;
}

.google_oauth p {
    margin: 0 auto 0 25px;
    font-size: 1rem;
}

.google_oauth img {
    margin: 0 25px 0 25px;
}