.product_page {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.product_page h1 {
    margin: 25px auto 25px 0;
    font-size: 1.8rem;
}

.filter_bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 360px;
    margin: 25px auto;
}

.filter_bar button{
    width: fit-content;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    background-color: #000;
}

.product_grid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 590px) {
    .product_page h1 {
        text-align: center;
        margin: 50px auto 25px;
    }

}
