.signup_container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signup_container h1  {
    font-size: 1.6rem;
    margin: 25px 0;
}

.error {
    width: 80%;
    margin: 10px auto;
    color: red;
    font-size: 1rem;
}

.success {
    width: 80%;
    margin: 10px auto;
    color: rgb(30, 180, 0);
    font-size: 1rem;
}

.login {
    margin: 25px 0 25px auto;
    font-size: 1rem;
}

.login a {
    margin: 25px 0;
    color: rgb(136, 158, 255);
}